body { min-height: 100vh; display: flex; flex-direction: column; }
main{flex-grow: 1;}



.cinzel {
   font-family: 'Cinzel', serif;
}
.card-overflow {
   margin-bottom: -4em;
   z-index: 1;
}
.shadow-filter {
   filter: drop-shadow(0 .5rem 1rem rgba(0,0,0,.15));
}
.left-border {
   width: .75rem !important;
   height: 100% !important;
}